@font-face {
    font-family: quadranta;
    src: url(/fonts/quadranta/Quadranta-Bold.otf);
}

#home header {
    background: #333 url("/images/_banner-real.png");
    background-position: center;
    background-size: cover;
    color: #f5f5f5;
    text-align: center;
}


#home header .filter {
    width: 100%;
    background: rgba(0, 51, 153, 0.50);
    padding: 75px 0 25px;
}

#home header .brand {
    color: #ffffff;
    font-family: quadranta, 'Lato', Arial, sans-serif;
}

#home header h1 {
    margin-top: 0;
    font-size: 30px;
}

#home header h2 {
    color: #cccccc;
    letter-spacing: 0.3px;
    font-size: 20px;
}

#home header small a,
#home header small {
    color: #4ebaba;
    display: inline-block;
}

#home header small a {
    text-decoration: none;
    -webkit-transition: ease-out .3s;
    -moz-transition: ease-out .3s;
    -ms-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
}

#home header small a:hover {
    color: #c1fffd;
}

#home header .address {
    color: #fff;
    font-size: 15px;
}

#home header .banner-separator {
    height: 50px;
    background: transparent url("/images/home-banner-separator.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}

@media (min-width: 400px) {
    #home header .banner-separator {
        height: 90px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home header .filter {
        padding: 90px 0 65px;
        background: rgba(0, 51, 153, 0.20);
    }
    #home header h1 {
        font-size: 40px;
    }
    #home header h2 {
        font-size: 30px;
    }
    #home header .banner-separator {
        height: 120px;
    }
    #home header .address {
        font-size: 17px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home header .filter {
        padding: 100px 0 75px;
    }
    #home header h1 {
        font-size: 50px;
    }
    #home header h2 {
        font-size: 40px;
    }
    #home header .banner-separator {
        height: 170px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home header .filter {
        padding: 125px 0 100px;
    }
    #home header .banner-separator {
        height: 230px;
    }
}

/* Extra Large devices (extra large desktops, 1920px and up) */
@media (min-width: 1921px) {
    #home header .banner-separator {
        height: 340px;
    }
}
