@font-face {
    font-family: quadranta;
    src: url(/fonts/quadranta/Quadranta-Bold.otf);
}

#home header {
    background: #27272b url("/images/home-banner.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    color: #f5f5f5;
    text-align: center;
}

#home header .brand {
    color: #ffffff;
    font-family: quadranta, 'Lato', Arial, sans-serif;
}

#home header h1 {
    margin-top: 0;
    font-size: 30px;
}

#home header h2 {
    color: #cccccc;
    letter-spacing: 0.3px;
    font-size: 20px;
}

#home header small a,
#home header small {
    color: #4ebaba;
    display: inline-block;
}

#home header small a {
    text-decoration: none;
    -webkit-transition: ease-out .3s;
    -moz-transition: ease-out .3s;
    -ms-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
}

#home header small a:hover {
    color: #c1fffd;
}

#home header .banner-separator {
    height: 100px;
    background: transparent url("/images/home-banner-separator.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home header {
        padding-top: 90px;
    }
    #home header h1 {
        font-size: 40px;
    }
    #home header h2 {
        font-size: 30px;
    }
    #home header .banner-separator {
        height: 120px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home header {
        padding-top: 100px;
    }
    #home header h1 {
        font-size: 50px;
    }
    #home header h2 {
        font-size: 40px;
    }
    #home header .banner-separator {
        height: 170px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home header {
        padding-top: 125px;
    }
    #home header .banner-separator {
        height: 230px;
    }
}

/* Extra Large devices (extra large desktops, 1920px and up) */
@media (min-width: 1921px) {
    #home header .banner-separator {
        height: 340px;
    }
}
