@font-face {
    font-family: quadranta;
    src: url(/fonts/quadranta/Quadranta-Bold.otf);
}

#home header {
    background: #27272b url("/images/home-banner.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    color: #f5f5f5;
    text-align: center;
}

#home header .brand {
    color: #ffffff;
    font-family: quadranta, 'Lato', Arial, sans-serif;
}

#home header h1 {
    margin-top: 0;
    font-size: 30px;
}

#home header h2 {
    color: #cccccc;
    letter-spacing: 0.3px;
    font-size: 20px;
}

#home header small a,
#home header small {
    color: #4ebaba;
    display: inline-block;
}

#home header small a {
    text-decoration: none;
    -webkit-transition: ease-out .3s;
    -moz-transition: ease-out .3s;
    -ms-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
}

#home header small a:hover {
    color: #c1fffd;
}

#home header .banner-separator {
    height: 100px;
    background: transparent url("/images/home-banner-separator.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home header {
        padding-top: 90px;
    }
    #home header h1 {
        font-size: 40px;
    }
    #home header h2 {
        font-size: 30px;
    }
    #home header .banner-separator {
        height: 120px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home header {
        padding-top: 100px;
    }
    #home header h1 {
        font-size: 50px;
    }
    #home header h2 {
        font-size: 40px;
    }
    #home header .banner-separator {
        height: 170px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home header {
        padding-top: 125px;
    }
    #home header .banner-separator {
        height: 230px;
    }
}

/* Extra Large devices (extra large desktops, 1920px and up) */
@media (min-width: 1921px) {
    #home header .banner-separator {
        height: 340px;
    }
}

/* DESCRIPTION */
#description {
    padding-bottom: 0;
}

#description .media {
    margin-bottom: 15px;
}

#description .media .media-heading {
    text-align: left;
    font-size: 20px;
    margin-top: 0;
}

#description .media .media-left i {
    font-size: 100px;
    margin-top: -4px;
}


@media screen and (min-width: 992px) {
    #description .media .media-heading {
        font-size: 30px;
    }
    #description .media .media-left i {
        font-size: 200px;
        margin-top: -14px;
    }
}

/* SERVICES */
#services {
    background: url("/images/_bg-piece-io.jpg");
    background-size: 50%;
    padding-bottom: 0;
}

#services .the-whole-package {
    text-align: center;
}

#services .the-whole-package .box {
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border: 5px solid #a6a6a6;
    -moz-border-image: url("/images/_services-border2.png") 5 5 5 5 repeat;
    -webkit-border-image: url("/images/_services-border2.png") 5 5 5 5 repeat;
    -o-border-image: url("/images/_services-border2.png") 5 5 5 5 repeat;
    border-image: url("/images/_services-border2.png") 5 5 5 5 fill repeat;
    padding: 15px;
    border-image-outset: 3px;
    text-align: left;
    background-color: #ffffff;
    margin: 15px 0;
    z-index: 100;
    overflow: hidden;
}

#services .the-whole-package .box.center {
    transform: scale(1);
    z-index: 200;
}

#services .the-whole-package .box.grey {
    border: 5px solid #cccccc;
    -moz-border-image: url("/images/_services-border.png") 5 5 5 5 repeat;
    -webkit-border-image: url("/images/_services-border.png") 5 5 5 5 repeat;
    -o-border-image: url("/images/_services-border.png") 5 5 5 5 repeat;
    border-image: url("/images/_services-border.png") 5 5 5 5 fill repeat;
    border-image-outset: 3px;
    background-color: #f2f2f2;
}

#services .the-whole-package .box span.fa-stack {
    display: block;
    margin: 0 auto;
}

#services .the-whole-package .box .service-heading {
    margin-top: 0;
    font-size: 20px;
}

#services .the-whole-package .box a {
    white-space: nowrap;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #services .the-whole-package .box {
        margin: 0 5px;
    }
    #services .the-whole-package .box.center {
        transform: scale(1.1);
    }
}

/* WHY METEOR */
#why-meteor {
    background: url("/images/_tesselate.svg");
    background-size: 250px;
}

/* SKILLS */
#skills {
    background: #f5f5f5;
    padding: 30px 0;
}

#skills ul {
    text-align: center;
    list-style: none;
}

#skills li {
    display: inline-block;
    margin: 20px 10px;
}

#skills li figure img {
    height: 50px;
    width: 50px;
    background-color: #f5f5f5;
    -webkit-transition: ease-out .15s;
    -moz-transition: ease-out .15s;
    -ms-transition: ease-out .15s;
    -o-transition: ease-out .15s;
    transition: ease-out .15s;
}

#skills li figure figcaption a {
    font-style: italic;
    font-size: 10px;
    color: #555;
}

#skills li figure figcaption a:hover {
    color: #4ebaba;
    text-decoration: none;
}

#skills li figure img:focus,
#skills li figure img:hover {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-filter: none;
    filter: none;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #skills li figure img {
        height: 100px;
        width: 100px;
    }
    #skills li figure figcaption {
        font-size: 14px;
    }
    #skills li {
        margin: 20px 20px;
    }
}

/* CONSULTING */
#consulting {
    background: #555;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    color: #f5f5f5;
    padding: 10px 0 15px 0;
}

#consulting h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

/* PORTFOLIO */
#portfolio {
    background: #27272b url("/images/_node-top.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 1280px 120px;
}

#portfolio .thumbnail .caption {
    text-align: center;
}

#contributions {
    min-height: 320px;
    background: url("/images/_node-bottom.png") no-repeat 50% 0;
    background-color: #27272b;
    padding: 0 0 50px;
    color: #fff;
    position: relative;
    background-size: 1600px 344px;
    margin-bottom: -50px;
}
