*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Colors */
.violet { color: #8567f4; }
.green { color: #369d95; }
.blue { color: #6393f3; }
.yellow { color: #ffc558; }
.red { color: #ff6269; }

/* Bootstrap */
.jumbotron {
    padding-top: 75px;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
    background: #302f31;
}

.jumbotron small {
    color: #c6ccec;;
}

.modal-backdrop {
    background-color: #333333;
}

/* Separator */
.separator {
    background-color: #f5f5f5;
}

/* Section */
section {
    padding: 50px 0;
}

section::before,
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.section-title {
    margin-top: 0;
    text-transform: uppercase;
    position: relative;
    display: table;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.section-title:before,
.section-title:after {
    display: table-cell;
    content: '';
    width: 45%;
    border-top: 1px solid #555;
    position: relative;
    top: 7px;
}

.section-title.inverse {
    color: #ffffff;
}

.section-title.inverse:before,
.section-title.inverse:after {
    border-top: 1px solid #cccccc;
}

.section-title:before {
    right: 10px;
}

.section-title:after {
    left: 10px;
}

@media screen and (min-width: 992px) {
    section {
        padding: 75px 0;
    }
    .section-title {
        font-size: 20px;
    }
}

/* Visibility */
.invisible {
    visibility: hidden;
    opacity: 0;
}

/* Text block */
.text-block {
    margin-bottom: 30px;
}

.text-block i {
    color: #1159E7;
}

.text-block h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .text-block {
        text-align: center;
    }
    .text-block:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

/* Pictured content */
.pictured {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: distribute;
}

.pictured .title {
    text-align: left;
    font-size: 30px;
    margin-top: 0;
}

.pictured .picture {
    display: block;
    width: 20%;
    float: left;
    margin: 0 30px 15px 0;
}

.pictured .picture.picture-right {
    float: right;
    margin: 0 0 15px 30px;
}


@media screen and (max-width: 991px) {
    .pictured .picture {
        width: 33%;
    }
    .pictured .title {
        font-size: 20px;
    }
}

/* List inline */
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* Grey scale */
.grey-scale {
    filter: gray;
    filter: url(/images/_greyscale.svg);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Gallery */
#gallery,
.gallery {
    margin: 0 auto;
}

/* Grid item */
.grid-item {
    width: 100%;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .grid-item {
        width: calc(50% - 15px);
    }
}

@media screen and (min-width: 992px) {
    .grid-item {
        width: calc(25% - 15px);
    }
}

/* Alert */
.alert-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

/* Text louded */
.text-louded {
    color: #1159e7;
    letter-spacing: 1px;
    font-size: 16px;
}
