#home #contact {
    background: #fcfcfc url("/images/_map-image-inverse.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 992px) {
    #home #contact {
        background-size: 60%;
        padding: 100px 0;
    }
}
