#default header {
    padding-top: 25px;
    color: #f5f5f5;
    text-align: center;

    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 40%, rgba(74,74,74,1) 49%, rgba(97,97,97,1) 50%, rgba(36,36,36,1) 53%, rgba(31,31,31,1) 61%, rgba(46,45,46,1) 75%, rgba(36,36,36,1) 88%, rgba(46,46,46,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(9%, rgba(0,0,0,1)), color-stop(24%, rgba(0,0,0,1)), color-stop(40%, rgba(0,0,0,1)), color-stop(49%, rgba(74,74,74,1)), color-stop(50%, rgba(97,97,97,1)), color-stop(53%, rgba(36,36,36,1)), color-stop(61%, rgba(31,31,31,1)), color-stop(75%, rgba(46,45,46,1)), color-stop(88%, rgba(36,36,36,1)), color-stop(100%, rgba(46,46,46,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 40%, rgba(74,74,74,1) 49%, rgba(97,97,97,1) 50%, rgba(36,36,36,1) 53%, rgba(31,31,31,1) 61%, rgba(46,45,46,1) 75%, rgba(36,36,36,1) 88%, rgba(46,46,46,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 40%, rgba(74,74,74,1) 49%, rgba(97,97,97,1) 50%, rgba(36,36,36,1) 53%, rgba(31,31,31,1) 61%, rgba(46,45,46,1) 75%, rgba(36,36,36,1) 88%, rgba(46,46,46,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 40%, rgba(74,74,74,1) 49%, rgba(97,97,97,1) 50%, rgba(36,36,36,1) 53%, rgba(31,31,31,1) 61%, rgba(46,45,46,1) 75%, rgba(36,36,36,1) 88%, rgba(46,46,46,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 40%, rgba(74,74,74,1) 49%, rgba(97,97,97,1) 50%, rgba(36,36,36,1) 53%, rgba(31,31,31,1) 61%, rgba(46,45,46,1) 75%, rgba(36,36,36,1) 88%, rgba(46,46,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2e2e2e', GradientType=0 );
}

#default header .brand {
    color: #ffffff;
    font-family: quadranta, 'Lato', Arial, sans-serif;
}

#default header h1 {
    margin-top: 0;
    font-size: 30px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #default header {
        padding-top: 50px;
    }
    #default header h1 {
        font-size: 50px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #default header {
        padding-top: 75px;
    }
    #default header h1 {
        font-size: 75px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #default header {
        padding-top: 100px;
    }
}

#descriptionproject {
    background-size: 50%;
    padding-bottom: 0;
    text-align: center;
}

@media (min-width: 768px) {
    #descriptionproject {
        font-size: 14px;
    }
}
@media (min-width: 992px) {
    #descriptionproject {
        font-size: 20px;
    }
}

#default .banner img {
    width: 500px;
    margin-top: 20px;
}

#default .techlabel {
    font-size: 16px;
}

#default .techlabel a {
    color: white;
    text-decoration: none;
}

#default .techlabel a:hover {
    color: white;
    text-decoration: underline;
}

#default .techlabel a:visited {
    color: white;
}

#default .Bootstrap {  background-color: #920092;  }
#default .Meteor {  background-color: black;    }
#default .JavaScript {  background-color: yellow;  }
#default .JavaScript a {    color: black;   }
#default .JavaScript a:hover {    color: black;   }
#default .MongoDB { background-color: green;    }
#default .Ubuntu { background-color: orange;    }
#default .Stripe { background-color: #5249ff;    }
#default .Nexmo { background-color: #1e90ff;    }
