#clouds-svg {
    margin-top: 0;
    margin-bottom: -7px;
    background-color: transparent;
    height: 50px;
}

#clouds-svg path {
    fill: #fcfcfc;
    stroke: #fcfcfc;
}

@media (min-width: 768px) {
    #clouds-svg {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    #clouds-svg {
        margin-top: 75px;
        height: 100px;
    }
}

@media (min-width: 1200px) {
    #clouds-svg {
        margin-top: 100px;
    }
}
