#contributions {
    margin-top: 50px;
    min-height: 320px;
    background: url("/images/_node-bottom.png") no-repeat 50% 0;
    background-position: bottom;
    background-color: #27272b;
    padding: 0 0 50px;
    color: #fff;
    position: relative;
    background-size: 1600px 344px;
    margin-bottom: -50px;
}

@media (min-width: 992px) {
    #contributions {
        margin-bottom: -75px;
    }
}
