#home #why {
    background: #fcfcfc url("/images/_tesselate.svg");
    background-size: 500px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

#home #why p:last-of-type {
    margin-bottom: 0;
}