#home #skills {
    background: #fcfcfc;
    padding: 25px 0 0;
}

#home #skills ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

#home #skills li {
    display: inline-block;
    margin: 20px 10px;
}

#home #skills li figure img {
    height: 50px;
    width: 50px;
    -webkit-transition: ease-out .15s;
    -moz-transition: ease-out .15s;
    -ms-transition: ease-out .15s;
    -o-transition: ease-out .15s;
    transition: ease-out .15s;
}

#home #skills li figure figcaption a {
    font-style: italic;
    font-size: 10px;
    color: #777;
    -webkit-transition: ease-out .3s;
    -moz-transition: ease-out .3s;
    -ms-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
}

#home #skills li figure figcaption a:hover {
    color: #000;
    text-decoration: none;
}

#home #skills li figure img:focus,
#home #skills li figure img:hover {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-filter: none;
    cursor: pointer;
    filter: none;
}

#skills .modal .media {
    margin-bottom: 0;
    text-align: left;
}

#skills .modal .media img{
    width: 100px;
    height: 100px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home #skills li figure img {
        height: 100px;
        width: 100px;
    }
    #home #skills li figure figcaption {
        font-size: 14px;
    }
    #home #skills li {
        margin: 20px 20px;
    }
}

@media (min-width: 992px) {
    #home #skills {
        padding: 50px 0 30px;
    }
}
